.red {
	color: #FC2121;
	font-weight: bold;
}

.green {
	color: #059105;
	font-weight: bold;
}

.Cockpit button {
	border: 1px solid #B9B9FF;
	padding: 16px;
	color: white;
	background-color: #218868;
	font: inherit;
}

.Cockpit button:hover {
	background-color: #35DDA9;
}

.Cockpit button.red {
	background-color: #FF1E1E;
}

.Cockpit button.red:hover {
	background-color: #FF6060;
}